.rotat_obj{
    width: 500px;
    height: 500px;
    position: absolute;
    background-image: url(moon.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotatetheZ 5s infinite linear;
}

@keyframes rotatetheZ{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}