<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Solar System</title>
        <link rel="stylesheet" href="main_styles.css">
        <link rel="stylesheet" href="earth.css">
    </head>
    <body>

        <!-- <div id="root">
            <img src= data  alt="random image">
        </div> -->

        <!-- <header>
            <div class="container">
                <a href="https://www.spaceappschallenge.org/2023/"><img id="logo" src="nasa_logo.png" aria-hidden="true">❤️</a>
                <nav>
                    <span>Earth</span>
                    <span>NASA Images</span>
                    <span>Other</span>
                </nav>
            </div>
        </header> --> 
        
        <div class="navbar">
            <div class="logo">
                <a href="#">
                    <img src="nasa_logo.png" alt="Logo"> <!-- Replace with your logo image URL -->
                </a>
            </div>
            <div class="text">
                <span>Alex</span>
                <span>Mitko</span>
                <span>NASA Images</span>
            </div>
        </div>
        


        <div id="system">
            <div class="earth">

            </div>
            <div class="orbit">
                <div class="moon">
                        
                </div>
            </div>
        </div>

        <script src="frontend.js"></script>
    </body>
</html>