<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Solar System</title>
        <link rel="stylesheet" href="main_styles.css">
        <link rel="stylesheet" href="earth.css">
    </head>
    <body>

        <!-- <div id="root">
            <img src= data  alt="random image">
        </div> -->

        <div id="header">
            
        </div>